#--------------------------------------------------
# Script requires / resources
#--------------------------------------------------

require.ikariamCore.test	= 

#--------------------------------------------------
#  Transifex options
#--------------------------------------------------

transifex.user		= 
transifex.password	= 
transifex.url		= 

#--------------------------------------------------
#  Deployment options
#--------------------------------------------------

ftp.name.server.test	= 
ftp.name.user.test		= 
ftp.password.test		= 

# FTP server side paths
dir.ftp.test			= 